.project-container {
  width: 96%;
  margin-left: 2%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-page > h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.projects {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0px 20px;
  padding: 25px 0px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.flip-card-back > p {
  font-size: 2 rem;
  font-weight: bold;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  padding: 0px 15px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  line-height: 1.6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  height: auto;
  overflow-y: auto;
}

.modal-close-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-close-button:hover {
  background-color: #0056b3;
}

.modal-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.modal-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .project-container {
    margin-top: 4%;
  }
}
