

.project-page {
  text-align: center;
  padding: 40px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.project-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.project-card {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  margin: 0;
  font-size: 18px;
}

.project-overlay p {
  font-size: 14px;
  margin-top: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.project-container {
  position: relative; /* Ensures the popup is positioned within this */
}

.modal-overlay {
  position: absolute; /* Keep it inside ProjectPage */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 1000;
  padding: 10px; /* Add padding to prevent edge clipping */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Make it responsive */
  max-width: 600px;
  height: auto;
  max-height: 80vh; /* Prevent overflow */
  overflow-y: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    max-width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 100%;
    max-width: 95%;
    padding: 10px;
  }
}

 
.modal-link:hover {
  text-decoration: underline;
}
.modal-content h2 {
  margin-bottom: 10px;
}

.describe{
  text-align: left;
}

.list {
  list-style-type: disc;
  text-align: left;
  line-height: 27px;
  padding-left: 20px;
  margin-bottom: 15px;
}


.modal-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.modal-close-button {
  background: #ff4d4d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #e60000;
}
